<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 p-5 d-flex align-items-center">
            <div class="text-left">
                <p class="row mainP darkBlueText">
                    <span class="lightBlueText">A dentistry clinic</span> you can trust.
                </p>
                <p class="row sideP">Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien habitant integer senectus malesuada ac.</p>
                <div class="row">
                    <a href="#login"><button type="button" id="services-book-btn" class="dark-theme-button btn btn-primary col-sm-5 p-4 m-2">Book an appointment</button></a>
                   <a href="#services"><button type="button" class="btn col-sm-3 my-button lightBlueText p-4 m-2">Browse services</button></a>
                </div>
            </div>
        </div>
        <img src="https://assets.website-files.com/60e4a233ef2c63474dd2a3e0/60e4a233ef2c63730fd2a41a_image-home-hero-dentist-template.jpg" class="col-sm-5 my-overlap" alt="#" >
    </div>

    <div class="my-container">
        <div class="my-mini-container">
            <i class="fa fa-envelope fon my-mini-icon"></i>
            <p class="my-line-height-20">
                <span class="darkBlueText my-mini-header">Contact Us<br></span>
                <span class="muted-text">(123)-840 3987<br>contact@pearl.com<br></span>
                <a id="services-book-btn" class="lightBlueText fw-bold">Book an appointment</a>
            </p>
        </div>
        <div class="my-mini-container">
            <i class="fa-regular fa-clock my-mini-icon"></i>
            <p class="my-line-height-20 my-mini-subtext">
                <span class="darkBlueText my-mini-header">Open Hours<br></span>
                <span class="lightBlueText fw-bold">Mon-Fri: </span><span class="muted-text">8:00 AM to 5:00 PM<br></span>
                <span class="lightBlueText fw-bold">Saturday: </span><span class="muted-text">9:00 AM to 3:30 PM<br></span>
                <span class="lightBlueText fw-bold">Sunday: </span><span class="muted-text">9:00 AM to 3:30 PM<br></span>
            </p>
        </div>
        <div class="my-mini-container">  
            <i class="fa-solid fa-tooth my-mini-icon"></i>
            <p class="my-line-height-20 my-mini-subtext">
                <span class="darkBlueText my-mini-header">Services<br></span>
                <span class="muted-text">Cosmetic dentist<br>Dental implants<br>Teeth whitening</span>
            </p>
        </div>
    </div>
</div>
